[Desktop Entry]
Name=Last Answer

GenericName=Last Answer
Comment=Express your ideas
Exec=last-answer
Icon=${SNAP}/meta/gui/last-answer.png
Terminal=false
Type=Application
Categories=Development;Productivity;