name: Flutter Web Build
on:
  push:
    branches:
      - master
      - develop
jobs:
  build:
    name: Build Web
    env:
      my_secret: ${{secrets.COMMIT_SECRET}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
        with:
          channel: "master"
      - run: flutter pub get
      - run: flutter build web --release
      - run: |
          cd build/web
          git init
          # type configurations: your user.email and user.name followed lines 
          # git config --global user.email your_email 
          # git config --global user.name your_name
          git config --global user.email ${{secrets.USER_EMAIL}}
          git config --global user.name ${{secrets.USER_NAME}}
          git status
          # change this remote url for examle your remote url is then the following:
          git remote add origin https://${{secrets.COMMIT_SECRET}}@github.com/xsoulspace/last_answer.git
          git checkout -b gh-pages
          git add --all
          git commit -m "update"
          git push origin gh-pages -f
